# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Virtualenv
venv/
env/
ENV/
.venv/

# Pyenv
.python-version

# SQLite
*.sqlite3

# Django
*.log
local_settings.py
db.sqlite3
media

# Env files
.env
.env.local

# VS Code
.vscode/

# JetBrains
.idea/

# OS
.DS_Store
Thumbs.db
